[core]
  editor = vim
  pager = cat
  autocrlf = true
  eol = lf
  safecrlf = false

[alias]
  st = status
  di = diff
  co = checkout
  cl = clone
  cp = cherry-pick
  br = branch
  unstage = reset HEAD

[rebase]
  autosquash = true
[init]
  defaultBranch = main
[pull]
  ff = only
[rerere]
  enabled = true
[http]
  postBuffer = 5242880000
[http "https://github.com"]
  proxy = socks5://127.0.0.1:7890
[https "https://github.com"]
  proxy = socks5://127.0.0.1:7890
[credential]
  helper = osxkeychain

[includeIf "gitdir:~/development/personal/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/development/work/"]
  path = .gitconfig-work
